@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset */
html,
body {
  padding: 0;
  margin: 0;
}

/* Typography similar to Figma */
body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
